body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#ecr {
    background-color: darkgoldenrod;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100px;
    border: 0px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

#command {
    background-color: aquamarine;
    width: 100%;
    height: 35px;
    position: fixed;
    top: 100%;
    margin: -35px auto 0 auto;
}
